<%- include('../layout/head') %>

  <h1>YelpCamp</h1>

  <ul>
    <% for(let camp of camps) { %>
      <li>
        <b>
          <%= camp.title %>
        </b>
        - <%= camp.location %>
      </li>
      <% } %>
  </ul>


  <%- include('../layout/footer') %>